// Local font example
// @font-face {
//     font-family: 'Bw Modelica';
//     src: url('../fonts/BwModelica-Regular.eot');
//     src: url('../fonts/BwModelica-Regular.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/BwModelica-Regular.woff2') format('woff2'),
//          url('../fonts/BwModelica-Regular.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }


// /* nunito-latin-ext-wght-normal */
// @font-face {
//   font-family: 'Nunito Variable';
//   font-style: normal;
//   font-display: swap;
//   font-weight: 200 1000;
//   src: url('../fonts/nunito-latin-ext-wght-normal.woff2') format('woff2-variations');
//   unicode-range: U+0100-02BA,U+02BD-02C5,U+02C7-02CC,U+02CE-02D7,U+02DD-02FF,U+0304,U+0308,U+0329,U+1D00-1DBF,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF;
// }

// /* nunito-latin-wght-normal */
// @font-face {
//   font-family: 'Nunito Variable';
//   font-style: normal;
//   font-display: swap;
//   font-weight: 200 1000;
//   src: url('../fonts/nunito-latin-wght-normal.woff2') format('woff2-variations');
//   unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
// }


// /* instrument-sans-latin-ext-wght-normal */
// @font-face {
//   font-family: 'Instrument Sans Variable';
//   font-style: normal;
//   font-display: swap;
//   font-weight: 400 700;
//   src: url('../fonts/instrument-sans-latin-ext-wght-normal.woff2') format('woff2-variations');
//   unicode-range: U+0100-02BA,U+02BD-02C5,U+02C7-02CC,U+02CE-02D7,U+02DD-02FF,U+0304,U+0308,U+0329,U+1D00-1DBF,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF;
// }

// /* instrument-sans-latin-wght-normal */
// @font-face {
//   font-family: 'Instrument Sans Variable';
//   font-style: normal;
//   font-display: swap;
//   font-weight: 400 700;
//   src: url('../fonts/instrument-sans-latin-wght-normal.woff2') format('woff2-variations');
//   unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
// }

// /* funnel-display-latin-ext-wght-normal */
// @font-face {
//     font-family: 'Funnel Display Variable';
//     font-style: normal;
//     font-display: swap;
//     font-weight: 300 800;
//     src: url('../fonts/funnel-display-latin-ext-wght-normal.woff2') format('woff2-variations');
//     unicode-range: U+0100-02BA,U+02BD-02C5,U+02C7-02CC,U+02CE-02D7,U+02DD-02FF,U+0304,U+0308,U+0329,U+1D00-1DBF,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF;
//   }
  
//   /* funnel-display-latin-wght-normal */
//   @font-face {
//     font-family: 'Funnel Display Variable';
//     font-style: normal;
//     font-display: swap;
//     font-weight: 300 800;
//     src: url('../fonts/funnel-display-latin-wght-normal.woff2') format('woff2-variations');
//     unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
//   }

@font-face {
  font-family: 'Borna';
  src: url('../fonts/borna-regular-webfont.eot');
  src: url('../fonts/borna-regular-webfont?#iefix') format('embedded-opentype'),
       url('../fonts/borna-regular-webfont.woff2') format('woff2'),
       url('../fonts/borna-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Borna';
  src: url('../fonts/borna-medium-webfont.eot');
  src: url('../fonts/borna-medium-webfont?#iefix') format('embedded-opentype'),
       url('../fonts/borna-medium-webfont.woff2') format('woff2'),
       url('../fonts/borna-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Borna';
  src: url('../fonts/borna-bold-webfont.eot');
  src: url('../fonts/borna-bold-webfont?#iefix') format('embedded-opentype'),
       url('../fonts/borna-bold-webfont.woff2') format('woff2'),
       url('../fonts/borna-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}